body{
    background-image: url('https://plus.unsplash.com/premium_photo-1664297751296-08177be1ce96?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#god
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: small;
    font-weight: bold;
    color:#c20a28;    
}
#fo {
    margin-top: 50px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pass, #usname,#mode{
    width: 600px;
    margin: 10px 0;
    padding: 10px;
    display: block;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#s1, #s2, #login,#s3,#op11 {
    width: 600px;
    margin: 10px 0;
    padding: 10px;
    display: block;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#con {
    width: 600px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
@media (max-width: 600px) {
    .container {
        min-width: 280px;
    }
    #god
    {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        color:#c20a28;    
    }
    #fo {
        margin-bottom: 12px;
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
    }
    #fo label, #fo input, #fo select, #fo button ,#con{
        max-width: 100%;
        font-size :18px;
    }
    #fo input
    {
        font-size: 18px;
    }
    #s1, #s2, #login,#s3,#op11,#mode
    {
        font-size :18px;
    }
}
