body{
  background-image: url('https://images.unsplash.com/photo-1732198246934-f7973362f51c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#us
{
    font-family: 'Courier New', Courier, monospace;
    font-size:50px;
    text-align: center;
    color:red;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#info
{
  margin-top: 100px;
  margin-left: 400px;
  text-align: left;
  font-family: 'consolas';
  color: #d51414;
}
footer {
  margin-top:200px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  color: #2f05c7;
  border-radius:20px;
  position: relative;
  height:fit-content;
}
@media screen and (max-width: 980px) {
  #us
  {
    font-family: 'Courier New', Courier, monospace;
    font-size:80px;
    margin-left: 150px;
    text-align: center;
    color: red;
    margin-bottom: 50px;
  }
  #info
  {
    margin-top: 300px;
    margin-left: 250px;
    text-align:left;
    font-size: 35px;
    font-family: 'consolas';
  }
  footer {
    margin-top: 900px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    color: #df1688;
    position: relative;
    height:fit-content;
  }
}
ul {
  background-image: url('https://images.unsplash.com/photo-1732198246934-f7973362f51c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
li a {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  font-weight: bolder;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a.active {
  background-color: #04AA6D;
  color: white;
}
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}