body{
    background-color: aquamarine;
}
#invite,#us{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight:bold;
    text-align: center;
    color: red;
}
#fo1{
    margin-top: 100px;
    padding: 10px;
    width: auto;
    height: auto;
    margin-bottom: 80px;
}
#searchno{
    border-color:orangered;
    border-width:thick;
}
#cart{
    border-color:blue;
    border-width:thick;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight:bolder;
    border-radius: 15px;
    padding-left: 60px;
    padding-top: 20px;
    display: block;
    margin-top: 50px;
    width: 400px;
    height: 200px;
}
#nop,#amount,#address,#product,#inputText,#gua,#sur,#weight,#intr,#rdate,#ldate,#num,#lnop,#lsur,#ln,#ld,#nla,#ir,#rd,#lname,#lgua,#lnop,#lweight,#names,#names1,#la,#sub,#tran,#laddress,#lproduct,#searchno,#show,#addcart,#opt,#req
{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight:lighter;
    border-radius: 10px;
    padding: 20px;
}
#sample
{
    justify-content: center;
    align-items: center;
    place-items: center;
}
#tran,#addcart,#show,#sub
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight:bold;
    border-radius: 15px;
    display: flexbox;
    margin-top: 10px;
    margin-left: 50px;
}
.logo{
    color: #0b0000;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: aquamarine;
  }
nav ul li{
    list-style-type: none;
    background-color: aquamarine;
  }
nav ul li a{
    text-decoration: none;
    color: #0b0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: larger;
    background-color: aquamarine;
  }
.menu-icon i{
    margin-top: 10px;
    margin-left: 20px;
    color: #0b0000;
    font-size: 30px;
}
@media (max-width:600px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
@media (max-width: 600px) {
    #invite,#us{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight:bold;
        text-align: center;
        color: red;
    }
    #container{
        min-width: 280px;
        padding: 15px;
    }
    #fo label, #fo input, #fo select, #fo button{
        max-width: 100%;
        font-size :25px;
    }
    #cart
    {
        max-width: 80%;
        font-size :25px;
    }
    #opt,#gua
    {
        text-align: center;
        font-weight: bolder;
        width: 400px;
    }
    #fo input
    {
        font-size: 25px;
    }
}